@charset "utf-8";

html{
    font-size:16px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color:#444;
}

body{
    margin: 0 auto;
    padding: 0;
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
   "logo local-nav local-nav local-nav"
   "global-nav main . ."
   "global-nav picture picture ."
   "global-nav footer footer footer";
}

header, nav, main, footer{
    padding: 1em;
}

header{
    grid-area:logo;
    background-color: #23282d;
}

h1,h2,h3{
    color:#b4aba2;
}

#pictures{
    grid-area:picture;
    display:flex;
    flex-direction: row;
}

#pictures img{
    max-width:400px;
    width:100%;
    margin: 1em;
    border-radius: 5px;
    border-style: solid;
}

img {
    max-width: 100%;
    height: auto;
}

#main-menu{
    grid-area:global-nav;
    display:flex;
    flex-direction: column;
    background-color: #23282d;
}

#sub-menu{
    grid-area:local-nav;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}


main{
    grid-area:main;
}

footer{
    grid-area:footer;
    display:flex;
    flex-direction: row;
}

footer section{
    margin-right:4em;
}

footer ul{
    list-style: circle;
}

ul, nav{
    list-style: none;
}

nav li{
    display:inline-block;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: underline;
    margin-right: 1em;
    font-weight: 900;
    color:#94c11a;
}

a:hover{
    color:#add8e6;
}

.top-menu{
    font-size : 2em;
}

.text-link{
    margin:0;
}

.booking-box{
    margin-top:2em;
}

.booking-btn{
    padding: 1em;
    text-decoration:none;
    border-radius:30px;
    border-width: thin;
    border-style: solid;
}

#logo{
    color:#FF8C00;;
    font-size:3em;
}



@media(max-width:1233px){

    body{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
       "logo logo logo logo"
       "global-nav global-nav global-nav global-nav"
       "local-nav local-nav local-nav local-nav"
       "main main main main"
       "picture picture picture picture"
       "footer footer footer footer";
    }

    #main-menu a{
        font-size: 3em;
    }

    ul li, h2, h3, p, input, select, span,#sub-menu a{
        font-size: 2em;
    }
    #sub-menu{
        flex-direction: column;
        align-items:flex-start;
    }

    footer{
        display:flex;
        flex-direction: column;
    }
    input[type=radio]{
        height:1em;
        width:1em;
    }

}
@media(max-width:900px){

    #pictures{
        grid-area:picture;
        display:flex;
        flex-direction: column;
    }
}